.container {
  padding-top: 1em;
}

img {
  cursor: pointer;
}
/* ====================================================== 
                          NAVBAR
======================================================= */

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #2b70aa;
  padding: 0.5em 2em;
}

#navbar h1 a {
  color: #f6c406;
}

#navbar h1 {
  margin-bottom: 0;
}

.navbar-list {
  display: flex;
  flex-direction: row;
}

.navbar-item {
  text-decoration: none;
  list-style: none;
  margin-left: 2em;
}

.navbar-item a {
  color: #f6c406;
  cursor: pointer;
}

.navbar-item a:hover {
  color: white;
  text-decoration: none;
}

/* ====================================================== 
                          MY DECKS
======================================================= */

.deck-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.btn-div button {
  margin-left: 2em;
}

.form-div .form-control {
  margin-right: 2em;
}

/* ====================================================== 
                          CUSTOMIZE
======================================================= */

.customize-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.deck-info-card-list {
  min-width: 400px;
}

#save-changes-form {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2em;
}

#save-changes-form input {
  margin-left: 1em;
}

#card-list {
  padding-inline-start: 0;
}

#card-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}

#card-list p {
  margin-bottom: 0;
}

/* ====================================================== 
                          PLAY
======================================================= */

.side-by-side {
  display: flex;
}

.playmat {
  height: 100vh;
  position: relative;
  width: 100%;
}

/* ===================Side Panel ====================== */
.side-panel {
  /* position: absolute; */
  background-color: brown;
  height: 85vh;
  width: 300px;
}
.side-panel-container {
  height: 100%;
  padding: 8px;
}

.poke-card-back {
  width: 100%;
}

.btn-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.btn-group .btn {
  margin: 5px 0;
}
/* img:hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 300;
} */

/* ===================Side Panel ====================== */

#card-back-img {
  position: absolute;
  top: 75%;
  left: 1%;
}

.poke-card-game {
  list-style-type: none;
  position: absolute;
}

.playmat ul {
  position: absolute;
  top: 75%;
  left: 15%;
}

.hand-placeholder {
  display: flex;
  border: 1px solid #dcdcdc;
  height: 20%;
  width: 50%;
  position: absolute;
  top: 80%;
  left: 25%;
  justify-content: center;
  align-items: center;
  color: #dcdcdc;
}

.bench1-placeholder {
  display: flex;
  border: 1px solid #dcdcdc;
  height: 15%;
  width: 50%;
  position: absolute;
  top: 60%;
  left: 25%;
  justify-content: center;
  align-items: center;
  color: #dcdcdc;
  z-index: 100;
}

.bench2-placeholder {
  display: flex;
  border: 1px solid #dcdcdc;
  height: 15%;
  width: 50%;
  position: absolute;
  top: 1%;
  left: 25%;
  justify-content: center;
  align-items: center;
  color: #dcdcdc;
  z-index: 100;
}

.active-pokemon1-placeholder {
  display: flex;
  border: 1px solid #dcdcdc;
  height: 15%;
  width: 12%;
  position: absolute;
  top: 40%;
  left: 45%;
  /* justify-content: center; */
  align-items: center;
  color: #dcdcdc;
  z-index: 100;
}

.active-pokemon2-placeholder {
  display: flex;
  border: 1px solid #dcdcdc;
  height: 15%;
  width: 12%;
  position: absolute;
  top: 21%;
  left: 45%;
  /* justify-content: center; */
  align-items: center;
  color: #dcdcdc;
  z-index: 100;
}

.player-trainer-container {
  display: flex;
  border: 1px solid #dcdcdc;
  height: 15%;
  width: 10%;
  position: absolute;
  top: 40%;
  left: 30%;
  justify-content: center;
  align-items: center;
  color: #dcdcdc;
}

.opponent-trainer-container {
  display: flex;
  border: 1px solid #dcdcdc;
  height: 15%;
  width: 10%;
  position: absolute;
  top: 21%;
  left: 30%;
  justify-content: center;
  align-items: center;
  color: #dcdcdc;
}

.discard-pile-placeholder {
  display: flex;
  border: 1px solid #dcdcdc;
  height: 20%;
  width: 10%;
  position: absolute;
  top: 75%;
  left: 90%;
  justify-content: center;
  align-items: center;
  color: #dcdcdc;
}

.attached-energy {
  position: absolute;
}

/* ================== 
PLACEHOLDER
=================== */

.select-container {
  margin: 1em 0;
}

.form-container {
  margin: 1em 0;
}

.form-div form {
  display: flex;
}

.list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.poke-card {
  list-style-type: none;
}

/* .poke-card:hover {
  transform: scale(1.2);
} */

#absolute-image {
  position: absolute;
}

.slick-prev:before,
.slick-next:before {
  color: blue !important;
}

/* ==============================================
                      COIN 
===============================================*/
.coin-container {
  /* border: 1px solid #dcdcdc; */
  height: 20%;
  width: 10%;
  position: absolute;
  top: 32%;
  left: 85%;
  justify-content: center;
  align-items: center;
  color: #dcdcdc;
}

#coin {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
#coin div {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  /* -webkit-box-shadow: inset 0 0 45px rgba(255, 255, 255, 0.3),
    0 12px 20px -10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 0 45px rgba(255, 255, 255, 0.3),
    0 12px 20px -10px rgba(0, 0, 0, 0.4); */
  /* box-shadow: inset 0 0 45px rgba(255, 255, 255, 0.3),
    0 12px 20px -10px rgba(0, 0, 0, 0.4); */
}
.side-a {
  /* background-image: url("https://52f4e29a8321344e30ae-0f55c9129972ac85d6b1f4e703468e6b.ssl.cf2.rackcdn.com/products/pictures/1110551.jpg"); */
  color: white;
  text-align: center;
}
.side-b {
  /* background-image: url("https://spakatak.com/tazos/usa/images/pokemonbattlingcoingame/back.jpg"); */
  color: white;
  text-align: center;
}

#coin {
  transition: 3s ease-in;
  transform-style: preserve-3d;
}
#coin div {
  position: absolute;
  backface-visibility: hidden;
}
.side-a {
  z-index: 100;
}
.side-b {
  transform: rotateY(-180deg);
}

#coin.heads {
  /* -webkit-animation: flipHeads 1s ease-out forwards;
  -moz-animation: flipHeads 1s ease-out forwards;
  -o-animation: flipHeads 1s ease-out forwards; */
  animation: flipHeads 0.5s ease-out forwards;
}
#coin.tails {
  /* -webkit-animation: flipTails 1s ease-out forwards;
  -moz-animation: flipTails 1s ease-out forwards;
  -o-animation: flipTails 1s ease-out forwards; */
  animation: flipTails 0.5s ease-out forwards;
}

@keyframes flipHeads {
  from {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(540deg);
    -moz-transform: rotateY(540deg);
    transform: rotateY(540deg);
  }
}
@keyframes flipTails {
  from {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(720deg);
    -moz-transform: rotateY(720deg);
    transform: rotateY(720deg);
  }
}

@media only screen and (max-width: 768px) {
  .list {
    justify-content: center;
  }
  .poke-card {
    width: 100%;
  }

  .poke-card img {
    width: 100%;
  }
  .poke-card:hover {
    transform: scale(1);
  }
}
